.header {
    color: #F9FAF8;
    height: 48px;
    display: flex;
    justify-content: space-around;
}

.top-right {
    display: flex;
    align-items: center;
    margin-top: 36px;
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #1f2937;
}